

@font-face {
    font-family: 'Onest';
    src: url(fonts/Onest/Onest-VariableFont_wght.ttf);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contenedor_titulo{
    font-family: 'Onest';
    font-style: italic;
}

#contenedor_titulo, #contenedor_input{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor_input{
    padding: 1rem;
    font-family: 'Onest';
    display: flex;
    gap: 10px;
    input{
        border-radius: 10px;
        padding: 1rem;
    }
    label{
        color: #fff;
    }
    button{
        padding: 1rem;
        border-radius: 10px;
        cursor: pointer;
    }
}

#contenedor_descifrado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: #1E2227;
    border-radius: 30px;
    width: 50%;
}

article{
    display: flex;
    flex-direction: row;
    div{
        font-family: 'Onest';
        min-height: 80px;
        min-width: 80px;
        margin: .3rem;
        background-color: #3d434d;
        border-radius: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 2rem;
    }
    .flip{
        animation: FlipWord .6s linear;
    }
}

@keyframes FlipWord {
    to{
        transform: rotateX(0deg);
    }

    from{
        transform: rotateX(180deg);
    }
}

@media (max-width: 850px) {
    #contenedor_descifrado{
        width: 80%;
    }
}

@media (max-width:540px) {
    article{
        div{
            min-width: 50px;
            min-height: 50px;
        }
    }
}